body {
    padding: 20px;
}

a {
    text-decoration: none;
    color: $BRAND_COLOR;
}

nav {

}

.logo {
    text-transform: uppercase;
    font: 24px/24px 'Fjalla One', sans-serif;
    border-left: 12px solid $BRAND_COLOR;
    padding: 4px 8px;
}

.hero {
    margin: 4em 0;
    text-align: center;
}

.post {
    margin-bottom: 3em;
}