body {
    padding: 20px;
}

a {
    text-decoration: none;
    color: $BRAND_COLOR;
}

.content {
    margin: 2.5em 5em;

    @media (max-width: 768px) {
        margin: 1.5em 3em;
    }

    @media (max-width: 578px) {
        margin: 1.1em;
    }
}

.logo {
    text-transform: uppercase;
    font: 24px/24px 'Fjalla One', sans-serif;
    border-left: 12px solid $BRAND_COLOR;
    padding: 4px 8px;
}

.hero {
    margin: 4em 0;
    text-align: center;

    @media (max-width: 578px) {
        margin: 2em;
    }
}

.post {
    margin-bottom: 3em;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.lead {
    @media (max-width: 578px) {
        display: none;
    }
}


// Blog Pages
//
// ----------
.blog {
    header {
        margin-bottom: 2em;

        @media (max-width: 578px) {
            margin-bottom: 1em;
            text-align: center;
        }
    }
}

blockquote {
    box-sizing: border-box;
    margin: 1.75em 0 1.75em -2.2em;
    padding: 0 0 0 1.75em;
    border-left: #4A4A4A 0.4em solid;
    font-style: italic;
}
code {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: #E3EDF3 1px solid;
    background: #F7FAFB;
    border-radius: 2px;
}
pre {
    box-sizing: border-box;
    margin: 0 0 1.75em 0;
    border: #E3EDF3 1px solid;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;

    & code {
        font-size: inherit;
        white-space: -moz-pre-wrap;
        white-space: pre-wrap;
        background: transparent;
        border: none;
        padding: 0;
    }
}